{% extends "dashboard/base.html" %}

{% load bootstrap4 %}

{% block maincontent %}
<div class="conatiner">
  <div class="title-text">
    Edit Doodle
  </div>
    <form method="POST" class="container-fluid">
      {% csrf_token %}
      {% bootstrap_form form %}
      {{ form.media }}
        <button class="blue-btn" type="submit">Confirm Changes <i class="bi bi-pen"></i></button>
        <button class="blue-btn red-btn"><a href="{% url 'dashboard:doodles' %}">No, discard <i class="bi bi-arrow-left"></i></a></button>
      </form>
</div>
{% endblock maincontent %}