{% extends "dashboard/base.html" %}

{% load bootstrap4 %}

{% block maincontent %}
<div class="conatiner">
  <div class="title-text">
    Delete Doodle?
  </div>
  <div class="text-muted smaller-text">This action can't be undone!</div>
    <form method="POST" class="container-fluid">
      {% csrf_token %}
        <div class="mt-3">
            <button class="blue-btn" type="submit">Yes please!<i class="bi bi-eyeglasses"></i></i></button>
            <button class="blue-btn red-btn ml-3"><a href="{% url 'dashboard:doodles' %}">No, Don't! <i class="bi bi-arrow-left"></i></a></button>
        </div>
      </form>
</div>
{% endblock maincontent %}