<div class="navbar">
    <div class="nav-left">
        <div class="nav-pic">
            <img src="{{ user.profile.profile_picture.url }}" alt="">
        </div>
        <div class="nav-name">
            Welcome back! <br>
            <span class="smaller-text">@{{ user.username }}</span>
        </div>    

        <div class="nav-setting">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-gear"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="{% url 'account_email' %}">Change Email</a>
                  <a class="dropdown-item" href="{% url 'account_change_password' %}">Change Password</a>
                </div>
              </div>
        </div>

        {% if messages %}
        <div class="container pt-3">
            {% for message in messages %}
                <div class="alert alert-primary" role="alert">{{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endfor %}
          </div>
        {% endif %}
        
    </div>

    <div class="nav-right">
        <a href="{% url 'account_logout' %}"><i class="bi bi-box-arrow-right"></i></a>
    </div>
</div>