{%  extends 'accounts/main.html' %}

{% block content %}

{%  include 'accounts/status.html' %}

<br>

        <h5>Organisation: </h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Members</th>
                    <th></th>
                    <th>Work</th>
                    <th></th>
                    <th>Personal</th>
                    <th></th>
                </tr>

                <tr>
                    <td></td>
                    <td><a class="btn btn-sm btn-success" href="">Complete</a></td>
                    <td></td>
                    <td><a class="btn btn-sm btn-success" href="">Complete</a></td>
                    <td></td>
                    <td><a class="btn btn-sm btn-success" href="">Complete</a></td>

                </tr>    


            </table>
        </div>
    </div>

{% endblock %}
