<!DOCTYPE html>
<html lang="en">
<head>

    {% include "organization/snippets/head.html" %}

    <title>{{ item.title }}</title>

</head>
<body>
    <div class="main-area">

        {% include "organization/snippets/navbar.html" %}

        <div class="side-panel">
            {% block sidebar %}
              
            {% endblock sidebar %}
         </div>
        
         <div class="work-area">
             {% block maincontent %}
               
             {% endblock maincontent %}
         </div>
        
         <div class="right-panel">
             {% block rightbar %}
               
             {% endblock rightbar %}
         </div>

        {% include "dashboard/snippets/scripts.html" %}
    </div>
</body>
</html>