{% extends "organization/base.html" %}

{% load bootstrap4 %}

{% block sidebar %}
<div class="db-btn-holder"><button class="blue-btn-org"><a href="{% url 'dashboard:index' %}">Go back to dashboard</a></button></div>
<div class="member-holder">
  <div class="org-status">
      <h1>Owner</h1>
  </div>
  <div class="member">
      <div class="member-img"><img src="{{ item.owner.profile.profile_picture.url }}" alt=""></div>
      <div class="member-info">
        {{ item.owner.profile.name }} <br>
        @{{ item.owner.username }}
      </div>
  </div>

<div class="org-status">
    <h1>Admins</h1>
</div>
{% for member in item.admins.all %}
  <div class="member">
      <div class="member-img"><img src="{{ member.profile.profile_picture.url }}" alt=""></div>
      <div class="member-info">
          {{ member.profile.name }} <br>
          @{{ member.username }}
      </div>
  </div>
{% empty %}
<div class="container text-center">
    <p>No admins yet!</p>
</div>
{% endfor %}

<div class="org-status">
    <h1>Members</h1>
</div>
{% for member in item.members.all %}
  <div class="member">
      <div class="member-img"><img src="{{ member.profile.profile_picture.url }}" alt=""></div>
      <div class="member-info">
          {{ member.profile.name }} <br>
          @{{ member.username }}
      </div>
  </div>
{% empty %}
<div class="container text-center">
    <p>No Members yet!</p>
</div>
{% endfor %}

</div>
{% endblock sidebar %}


{% block maincontent %}
<div class="group-desc mb-3">
    <div class="group-cover">
        <img src="{{ item.cover.url }}" alt="">
    </div>
    <div class="group-credentials p-2">
        <h4>{{ item.name }}</h4>
        <p>{{ item.description }}</p>
        <p><i class="bi bi-people-fill"></i> <span>{{ item.members.all.count }}</span></p>    
    </div>
</div>

{% if user == item.owner or user in item.admin.all %}
<div class="container-fluid mb-3">
  <h1 class="title-text">Add a Member</h1>
  <form method="POST">
    {% csrf_token %}
    <div class="content-holder">
      <div class="content-holder-left user-form-extend">{% bootstrap_form member_form %}</div>
      <button class="content-holder-right btn"><input class="blue-btn-org" type="submit" value="Add member"></button>
    </div>
    
  </form>
</div>
{% endif %}

<div class="container mt-3 mb-3">
  <h1 class="title-text">{{ item.title }} Work: </h1>
  <div class="work-details">
    {% for work in all_work  %}
    <div class="work-component">
          <h4>{{ work.title }}</h4>
          <p>{{ work.description }}</p>
          
          <div class="mt-1 mb-1">
            {% if work.is_complete %}
            <p><b>Completion Status:</b><button class="status-symbol status-green">Completed</button></p>
          {% else %}
              <p><b>Completion Status:</b><button class="status-symbol status-red">Not Completed</button></p>
          {% endif %}
          </div>

          <div class="div">
            {% if work.assigned_to %}
            <p><b>Assigned to:</b> {{ work.assigned_to }}</p>
            <p><b>Status:</b><button class="status-symbol status-green">Assigned</button></p>
            {% else %}
            <p><b>Status:</b><button class="status-symbol status-red">Not Assigned</button></p>
            {% endif %}
          </div>
          
          <div class="mt-4">
            {% if user == work.assigned_to %}
            <a class="blue-btn-org" href="{% url 'org:update-work' pk=work.pk  slug=item.slug %}">Send Work <i class="bi bi-arrow-right-short"></i></a>
          {% endif %}
          {% if user == item.owner or user in item.admins.all %}
            <a class="blue-btn-org" href="{% url 'org:edit-work' pk=work.pk  slug=item.slug %}">Edit work<i class="bi bi-pencil"></i></a>
          {% endif %}
          <a href="{% url 'org:detail-work' pk=work.pk  slug=item.slug %}" class="blue-btn-org">Details <i class="bi bi-file-earmark-text"></i></a>
          </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="container shadow-sm">
  <table class="text-center table table-borderless table-hover">
      <thead>
          <tr>
            <th>Member</th>
            <th>Tasks Assigned</th>
            <th>Last Seen</th>
          </tr>
        </thead>
        <tbody>
          {% for member in item.members.all  %}
          <tr>
              <td>{{ member.username }}</td>
              <td>{{ member.work.all.count }}</td>
              <td>{{ member.last_login }}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock maincontent %}

{% block rightbar %}
  {% if user == item.owner or user in item.admin.all %}
    <div class="db-btn-holder"><button class="blue-btn-org scope-btn"><a href="{% url 'org:update-org' item.slug %}">Edit Organization</a></button></div>
    <div class="db-btn-holder"><button class="blue-btn-org org-btn-enlarge"><a href="{% url 'org:create-work' item.slug %}">Add Work</a></button></div>
  {% endif %}
  <div class="org-stats">

      <h1 class="text-title">Stats</h1>

    <div class="stat">
      Admin <i class="bi bi-person-plus"></i>
      <span>{{ item.admins.all.count }}</span>
     </div>
    <div class="stat">
      Members <i class="bi bi-people"></i>
      <span>{{ item.members.all.count }}</span>
    </div>
    <div class="stat">
      Tasks <i class="bi bi-file-earmark"></i>
      <span>{{ item.organization.all.count }}</span>
   </div>

   <div class="stat">
        
   </div>
</div>
{% endblock rightbar %}