<br>

<div class="row">
  <div class="col">
    <div class="col-md">
      <div class="card text-center text-white  mb-3 total-orders" id="total-orders">
        <div class="card-header">
          <h5 class="card-title">Members</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">12</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="col-md">
      <div class="card text-center text-white  mb-3" id="orders-delivered">
        <div class="card-header">
          <h5 class="card-title">Work</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">3</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="col-md">
      <div class="card text-center text-white  mb-3" id="orders-pending">
        <div class="card-header">
          <h5 class="card-title">Personal</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">69</h3>
        </div>
      </div>
    </div>
  </div>
</div>
