{% extends "dashboard/base.html" %}

{% load bootstrap4 %}

{% block maincontent %}
<div class="conatiner">
  <div class="title-text">
    Add a task
  </div>
    <form method="POST" class="container-fluid">
      {% csrf_token %}
      {% bootstrap_form form %}
      {{ form.media }}
        <button class="blue-btn" type="submit">Add New task <i class="bi bi-stack"></i></button>
        <button class="blue-btn red-btn"><a href="{% url 'dashboard:todo' %}">No, go back <i class="bi bi-arrow-left"></i></a></button>
      </form>
</div>



{% endblock maincontent %}