{% extends "dashboard/base.html" %}

{% block todo_active %}active{% endblock todo_active %}

{% block maincontent %}

<div class="content-holder">
  <h1 class="content-holder-left title-text">To-do</h1>
  <button class="content-holder-right scope-btn doodle-new-btn"><a href="{% url 'dashboard:todo-create' %}">New <i class="bi bi-pencil-fill"></i></a></button>
</div>

<table class="table-balancer table table-borderless">
    <thead>
      <tr class="text-center">
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Added On</th>
        <th scope="col">Due on</th>
        <th scope="col">Status</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody class="text-center">
        {% for item in all_todo  %}
            <tr>
              <td>{{ item.title }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.created_on|timesince }} ago</td>
              <td>{{ item.due_date|date:"d M Y" }}</td>
              <td>
                {% if item.is_complete %}
                  <button class="scope-btn">Completed</button>
                {% else %}  
                  <a class="blue-btn" href="{% url 'dashboard:todo-complete' item.pk %}">Finish</a>
                {% endif %}
              </td>
              <td><a class="red-btn blue-btn" href="{% url 'dashboard:todo-delete' item.pk %}"><i class="bi bi-x-lg"></i></a></td>
            </tr>
    {% empty %}
         <td>No Doodles!</td>
         <td>Add one now!</td>
         <td><i class="bi bi-arrow-up-circle-fill"></i></td>
    {% endfor %}
    </tbody>
  </table>

{% endblock maincontent %}