    <!--  Navbar-->
<nav>
    <div class="menu-icon">
      <span class="fas fa-bars"></span>
    </div>
    <div class="logo">Equipo</div>
    <div class="nav-items">
      <li><a href="{% url 'index' %}">Home</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'dashboard:index' %}">Go back to dashboard</a></li>
      {% else %}
      <li><a href="{% url 'account_login' %}">Login</a></li>
      <li><a href="{% url 'account_signup' %}">sign up</a></li>
      {% endif %}
    </div>
  </nav>
