{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block head_title %}{% endblock %}</title>
    {% include "dashboard/snippets/head.html" %}
    <style>
        a{
            color: #25c1ff;
        }
        body{
            font-size: 1.15rem;
        }
        label{
            padding: 0.4rem 0;
            font-weight: 500;
        }
    </style>
</head>
<body>
    <div class="col-4">
    </div>

    <div class="col-8 d-flex p-2 justify-content-center">
        {% block maincontent %}
      
        {% endblock maincontent %}
    </div>
</body>
</html>