::selection{
    background-color: #00B0FF;
}

body::-webkit-scrollbar {
    width: 0.4rem;
}

body::-webkit-scrollbar-thumb {
    background: #1DA1F2;
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

.align-content {
    display: flex;
    justify-content: flex-start;
    padding: 0.2rem;
}

.blue-btn{
    border: none;
    border-radius: 1em;
    background-color: #70D6FF;
    font-size: 1.4rem;
    padding: 0.6rem 2rem;
    margin: 0.2rem;
    transition: 1s;
}

.blue-btn:hover {
    background-color: #25c1ff;
    box-shadow: 0 0.5em 0.5em -0.4em #00b7ff;
    transform: scale(1.02);
}

.scope-btn{
    border: none;
    border-radius: 1em;
    background-color: #8F00FF ;
    font-size: 1.4rem;
    padding: 0.6rem 2rem;
    margin: 0.2rem;
    transition: 1s;
}

.scope-btn:hover {
    background-color: #8F00FF ;
    box-shadow: 0 0.5em 0.5em -0.4em #8F00FF ;
    /* transform: scale(1.15); */
}

.red-btn {
    background-color: #e0b0ff;
}

.red-btn:hover {
    background-color: #e0b0ff;
    box-shadow: 0 0.5em 0.5em -0.4em rgb(255, 47, 47);
}


.smaller-text {
    font-size: 0.8em;
}

.title-text {
    text-align: start;
    font-weight: 670;
    font-size: 2rem;
    padding: 0.4rem;
}

.table-balancer{
    font-size: smaller;
}

.content-holder {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 0.5rem 0;
}

.content-holder-left {
    width: 40%;
    margin: auto 0;
}

.content-holder-right {
    width: 20%;
    height: 80%;
    align-self: flex-end;
    margin-left: auto;
    margin-right: 1rem;
}


.blue-btn-org {
    border: none;
    background-color: #25c1ff;
    padding: 0.6em 1.4em;
    border-radius: 2em;
    transition: 1s;
}

.blue-btn-org:hover {
    background-color: #25c1ff;
    box-shadow: 0 0.5em 0.5em -0.4em #25c1ff;
    transform: scale(1.02);
}

.org-btn-enlarge{
    font-size: 1.4rem;
    padding: 0.6rem 4rem;
}


.status-symbol{
    width: auto;
    padding: 0.5rem 1rem;
    margin: 0 0.2rem;
    border: none;
    border-radius: 2em;
}

.status-green{
    background-color: #8F00FF;
    color: rgb(248, 248, 248);
}

.status-yellow{
    background-color: rgb(251, 233, 152);
    box-shadow: 0 0.5em 0.5em -0.4em rgb(251, 233, 152);
    color: rgb(248, 248, 248);
}

.status-red {
    background-color: #e0b0ff;
    box-shadow: 0 0.5em 0.5em -0.4em #e0b0ff;
    color: rgb(248, 248, 248);  
}
