<!DOCTYPE html>
<html lang="en">
<head>

    <title>{{ user.username }}</title>

    {% include "dashboard/snippets/head.html" %}

</head>
<body>
    <div class="home-container">

        {% include "dashboard/snippets/navbar.html" %}

        <div class="sidebar">
            <ul class="side-nav">
                <li class="active">
                    <a href="{% url 'dashboard:index' %}">
                        <span class="nav-logo"><i class="bi bi-house"></i></span>
                        <span class="side-text">Home</span>
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'dashboard:list-organizations' %}">
                    <span class="nav-logo"><i class="bi bi-building"></i></span>
                    <span class="side-text">Organizations</span>
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'dashboard:doodles' %}">
                    <span class="nav-logo"><i class="bi bi-pencil-square"></i></span>
                    <span class="side-text">Doodle Zone</span>
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'dashboard:todo' %}">
                    <span class="nav-logo"><i class="bi bi-card-checklist"></i></span>
                    <span class="side-text">To-do</span>
                    </a>
                </li>
                <li class="{% block profile_active %}{% endblock profile_active %}">
                    <a href="{% url 'edit-user-profile' %}">
                    <span class="nav-logo"><i class="bi bi-gear"></i></span>
                    <span class="side-text">Account</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="card card-balancer">
            <span class="card-logo"><i class="bi bi-building"></i></span>
            <span class="card-num">{{ work.count }}</span>           
        </div>
        
        <div class="card2 card-balancer">
            <span class="card-logo"><i class="bi bi-journal"></i></span>
            <span class="card-num">{{ doodles.count }}</span>
        </div>
        
        <div class="card3 card-balancer">
            <span class="card-logo"><i class="bi bi-list-task"></i></span>
            <span class="card-num">{{ todo.count }}</span>
        </div>

        <div class="main-home">

            <h1 class="title-text">
                Work Due Today:
            </h1>
            
            {% if work_today %}
            <table class="table table-borderless container-fluid border shadow-sm mt-2 table-balancer">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Due on</th>
                    <th scope="col">Status</th>
                    <th scope="col">Completed</th>
                    <th scope="col">view</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                    {% for item in work_today %}
                        <td>{{ item.title }}</td>
                        <td>{{ item.created_on|date:"d M y" }}</td>
                        <td>{{ item.due_date|date:"d M y" }}</td>
                        <td>
                          {% if item.is_complete %}
                            <p><button class="status-symbol status-green">Yes</button></p>
                          {% else %}
                              <p><button class="status-symbol status-red">No</button></p>
                          {% endif %}
                        </td>
                        <td><a class="blue-btn" href="{% url 'org:detail-work' slug=item.organization.slug pk=item.pk %}">View</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            {% else %}
            <p>No work due for today. <b>#chill</b></p>
            {% endif %}

            <h1 class="title-text">
                Tasks Due Today:
            </h1>
            
            {% if todo_today %}
            <table class="table table-borderless container-fluid border shadow-sm mt-2 table-balancer">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Added On</th>
                    <th scope="col">Due on</th>
                    <th scope="col">Status</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                    {% for item in todo_today %}
                        <td>{{ item.title }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.created_on|timesince }} ago</td>
                        <td>{{ item.due_date|date:"d M Y" }}</td>
                        <td><a class="blue-btn" href="{% url 'dashboard:todo-complete' item.pk %}">Finish</a></td>
                        <td><a class="red-btn blue-btn" href="{% url 'dashboard:todo-delete' item.pk %}"><i class="bi bi-x-lg"></i></a></td>
                    {% endfor %}
                    </tr>
                </tbody>
              </table>
            {% else %}
            <p>No Tasks are due for today <b>#winning</b></p>
            {% endif %}

            <h1 class="title-text">
                Work:
            </h1>
            
            {% if work %}
            <table class="table table-borderless container-fluid border shadow-sm mt-2 table-balancer">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Due on</th>
                    <th scope="col">Status</th>
                    <th scope="col">Completed</th>
                    <th scope="col">view</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                    {% for item in work %}
                        <td>{{ item.title }}</td>
                        <td>{{ item.created_on|date:"d M y" }}</td>
                        <td>{{ item.due_date|date:"d M y" }} ago</td>
                        <td>
                          {% if item.is_complete %}
                            <p><button class="status-symbol status-green">Yes</button></p>
                          {% else %}
                              <p><button class="status-symbol status-red">No</button></p>
                          {% endif %}
                        </td>
                        <td><a class="blue-btn" href="{% url 'org:detail-work' slug=item.organization.slug pk=item.pk %}">View</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            {% else %}
            <p>No work assigned to you</p>
            {% endif %}


        </div>

        {% include "dashboard/snippets/footer.html" %}

        {% include "dashboard/snippets/scripts.html" %}

    </div>
</body>
</html>