{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "landing/home/snippets/head.html" %}
    <title>Home</title>
  </head>

  <body>
    {% include "landing/home/snippets/nav.html" %}

    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="" class="sign1">
            <h2 class="title">Equipo</h2>
            <p>
              Equipo is web app that comes with a personalized dashboard to help you manage your deadlines and tasks. Equipo is a platform for 
              managing your company/school/groups. Assign and complete work, check stats and much more. <a class="purple-color" href="{% url 'account_signup' %}">Try it out today!</a>
              Do you want to manage a project but with a group that keeps missing deadlines? <b>Try equipo today!</b> 
            </p>
            <button class="Login-Button" id="sign-in-btn">
              <a href="{% url 'account_signup' %}">Start Today</a>
            </button>

          </form>

          <form action="" class="sign2">
           <!-- FEATURES -->
          
            <div class="cards">
              <div class="container-card">
                <div class="card">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <div class="content">
                    <h1>1</h1>
                    <h2>Dashboard</h2>
                    <p>
                      Personalized dashboard. <br>
                      Never miss deadlines again! <br>
                      stay organized like never before <br>
                      Use To-do List and Reminders to get things done
                    </p>
                    
                  </div>
                </div>
                <div class="card">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <div class="content">
                    <h1>2</h1>
                    <h2>Organization</h2>
                    <p>Make Organizations to manage, assign tasks. <br>
                      Get a overview of who's doing what. <br>
                      Set deadlines for work.
                    </p>
                    
                  </div>
                </div>
              </div>
            </div>
          

            <div class="items">
            </div>
          </form>
        </div>
      </div>

    <div class="panel-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>Equipo</h3>
          <p>
            collaborate, cooperate, communicate
          </p>
          <button class="Login-Button transparent" id="sign-up-btn">
            Features
          </button>
        </div>
        <img src="{% static 'images/signup2.svg' %}" class="image" alt="">
      </div>

      <div class="panel right-panel">
        <div class="content">
          <h3>Equipo</h3>
          <p>
            collaborate, cooperate, communicate
          </p>
          <button class="Login-Button transparent" id="sign-in-btn">
            <a href="{% url 'account_signup' %}">Start Today</a>
          </button>
        </div>

        <img src="{% static 'images/Loginup2.svg' %}" class="image" alt="">
      </div>
    </div>
    </div>

    <script src="{% static 'js/landing.js' %}"></script>
  </body>
</html>
