{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "landing/home/snippets/head.html" %}
    <title>Home</title>
  </head>

  <body>
    {% include "landing/home/snippets/nav.html" %}

    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="" class="sign1">
            <h2 class="title">Equipo</h2>
            <p>
              Equipo is platform for user. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus accusantium perferendis 
              qui temporibus sapiente. Consequatur adipisci velit incidunt in, error necessitatibus, asperiores quos dolorem corporis laudantium minima rem, totam facilis.
            </p>
            <button class="Login-Button" id="sign-in-btn">
              <a href="{% url 'account_signup' %}">Start Today</a>
            </button>

          </form>

          <form action="" class="sign2">
           <!-- FEATURES -->
            <div class="items">
              Collaborate
            </div>
          </form>
        </div>
      </div>

    <div class="panel-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>Equipo</h3>
          <p>
            collaborate, cooperate, communicate
          </p>
          <button class="Login-Button transparent" id="sign-up-btn">
            Features
          </button>
        </div>
        <img src="{% static 'images/signup2.svg' %}" class="image" alt="">
      </div>

      <div class="panel right-panel">
        <div class="content">
          <h3>Equipo</h3>
          <p>
            collaborate, cooperate, communicate
          </p>
          <button class="Login-Button transparent" id="sign-in-btn">
            <a href="{% url 'account_signup' %}">Start Today</a>
          </button>
        </div>

        <img src="{% static 'images/Loginup2.svg' %}" class="image" alt="">
      </div>
    </div>
    </div>

    <script src="{% static 'js/landing.js' %}"></script>
  </body>
</html>
